test.cu
WMMAOptimized.vcxproj
WMMAOptimized.vcxproj.user
x64/Debug/vc143.pdb
x64/Debug/WMMAOptimized.Build.CppClean.log
x64/Debug/wmmaOptimized.cu.cache
x64/Debug/wmmaOptimized.cu.obj
x64/Debug/wmmaOptimized.cu46389386.deps
x64/Debug/WMMAOptimized.exe.recipe
x64/Debug/WMMAOptimized.ilk
x64/Debug/WMMAOptimized.log
x64/Debug/WMMAOptimized.vcxproj.FileListAbsolute.txt
x64/Debug/WMMAOptimized.tlog/CudaCompile.read.1u.tlog
x64/Debug/WMMAOptimized.tlog/CudaCompile.write.1u.tlog
x64/Debug/WMMAOptimized.tlog/link.command.1.tlog
x64/Debug/WMMAOptimized.tlog/link.read.1.tlog
x64/Debug/WMMAOptimized.tlog/link.secondary.1.tlog
x64/Debug/WMMAOptimized.tlog/link.write.1.tlog
x64/Debug/WMMAOptimized.tlog/WMMAOptimized.lastbuildstate
